@font-face {
    font-family: 'Figtree Local';
    src: url('Figtree-Regular.woff2') format('woff2'),
        url('Figtree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree Local';
    src: url('Figtree-Medium.woff2') format('woff2'),
        url('Figtree-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree Local';
    src: url('Figtree-Light.woff2') format('woff2'),
        url('Figtree-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree Local';
    src: url('Figtree-LightItalic.woff2') format('woff2'),
        url('Figtree-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree Local';
    src: url('Figtree-MediumItalic.woff2') format('woff2'),
        url('Figtree-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree Local';
    src: url('Figtree-SemiBoldItalic.woff2') format('woff2'),
        url('Figtree-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree Local';
    src: url('Figtree-SemiBold.woff2') format('woff2'),
        url('Figtree-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree Local';
    src: url('Figtree-Italic.woff2') format('woff2'),
        url('Figtree-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

